@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

body{
    font-family: 'Rubik Moonrocks', cursive;
    background: #ad5389;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3c1053, #ad5389);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3c1053, #ad5389); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

p{
    font-family: 'Dosis', sans-serif;
}

.header{
    max-width: 1080px;
    margin: auto;
    height: 100px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: #ffffff 1px solid;
    padding: 1rem;
}

.logo{
    font-family: 'Rubik Moonrocks', cursive;
    margin: 0 1rem;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color:#ffffff;
    font-size: 1.5rem;
}

.bar{
    color: #ffffff;
    display: none;
}

.nav{
    display: flex;
    align-items: center;
    text-align: center;
}

.ul{
    display: flex;
    margin: 0;
}

.li{
    list-style: none;
    margin: 0 1rem 0 0;
}

.link{
    text-decoration: none;
    color:#ffffff;
    text-transform: uppercase;
    font-size: 1.5rem;
    padding: 0 0 5px 0;
}

.link:hover{
    text-decoration: underline;
    color:#3c1053;
    transition: 0.3s;
}

.main{
    border: #ffffff 1px solid;
    max-width: 1080px;
    margin: 10px auto;
    padding: 1rem;
}

.skills{
    margin: 0 auto 1rem;
    border: #ffffff 1px solid;
    border-radius: 20px;
    height: auto;
    overflow: hidden;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.skills article{
    margin: 1rem auto;
}

.projects{
    margin: 0 auto 1rem;
    border: #ffffff 1px solid;
    border-radius: 20px;
    height: auto;
    overflow: hidden;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.projects article{
    margin: 1rem auto;
}

.projects article:hover{
    cursor: pointer;
}

.projects .project img{
    width: 100px;
}

/*Todos los h1 y h2*/
h1{
    text-align: center;
    color:#ffffff;
    margin: 0;
    position: relative;
    bottom: 8px;
}

h2{
    text-align: center;
    color: #ffffff;
    font-size: 2rem;
    position: relative;
    bottom: 8px;
    margin: 0;
}

.img{
    width: 100px;
}



.contact{
    margin: auto;
    border: #ffffff 1px solid;
    border-radius: 20px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 80%;
    margin: 1rem 0;
}

.form div{
    width: 100%;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form div input{
    margin: 5px;
    width: 100%;
    background: none;
    border: none;
    border-bottom: #ffffff 1px solid;
    outline: none;
    color: #ffffff;
}

.form div input::placeholder{
    color: #ffffff;
}

#mensaje{
    resize: none;
    width: 100%;
    height: 300px;
    background: none;
    border: #ffffff 1px solid;
    outline: none;
    color: #ffffff;
}

.button{
    background: none;
    color: #ffffff;
    border: none;
    margin-top: 1rem;
    border: #ffffff 1px solid;
    width: 60%;
    padding: 1rem;
}

.button:hover{
    cursor: pointer;
    background: rgba(255, 255, 255, 0.1);
    transition: 0,3s;
}

.footer{
    border: #ffffff 1px solid;
    height: 100px;
    max-width: 1080px;
    margin: auto;
    padding: 1rem;
}

@media (max-width: 768px) {
    .nav{
        display: none;
    }
    
    .bar{
        color: #ffffff;
        display: block;
        margin: 0 1rem 0 0;
        background: none;
        border: none;
    }

    .bar:hover{
        cursor: pointer;
    }

    .bar span{
        font-size: 3rem;
    }
}

@media (max-width: 600px) {

    .logo{
        text-align: justify;
    }

    .form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
    }

    .skills{
        grid-template-columns: 50% 50%;
    }
    
    
    .projects{
        grid-template-columns: 50% 50%;
    }

}