@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

body{
    font-family: 'Rubik Moonrocks', cursive;
    background: #ad5389;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3c1053, #ad5389);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3c1053, #ad5389); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

p{
    font-family: 'Dosis', sans-serif;
}

.header{
    max-width: 1080px;
    margin: auto;
    height: 100px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: #ffffff 1px solid;
    padding: 1rem;
}

.logo{
    font-family: 'Rubik Moonrocks', cursive;
    margin: 0 1rem;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color:#ffffff;
    font-size: 1.5rem;
}

.bar{
    color: #ffffff;
    display: none;
}

.nav{
    display: flex;
    align-items: center;
    text-align: center;
}

.ul{
    display: flex;
    margin: 0;
}

.li{
    list-style: none;
    margin: 0 1rem 0 0;
}

.link{
    text-decoration: none;
    color:#ffffff;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.link:hover{
    border-bottom: #3c1053 1px solid;
    transition: 0.3s;
}

.main{
    border: #ffffff 1px solid;
    max-width: 1080px;
    margin: 10px auto;
    padding: 1rem;
}

.projects{
    border: #ffffff 1px solid;
    height: 100vh;
    overflow: hidden;
    margin: 0 auto 1rem;
}

h1{
    text-align: center;
    color:#ffffff;
}

h2{
    text-align: center;
    color: #ffffff;
    font-size: 2rem;
}

.img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.skills{
    margin: 0 auto 1rem;
    border: #ffffff 1px solid;
    height: 100vh;
}

.contact{
    margin: auto;
    border: #ffffff 1px solid;
    height: 100vh;
}

.footer{
    border: #ffffff 1px solid;
    height: 200px;
    max-width: 1080px;
    margin: auto;
    padding: 1rem;
}

@media (max-width: 600px) {
    .bar{
        color: #ffffff;
        display: block;
        margin: 0 1rem 0 0;
        background: none;
        border: none;
    }

    .bar:hover{
        cursor: pointer;
    }

    .bar span{
        font-size: 3rem;
    }

    .logo{
        font-size: 2.5rem;
        text-align: justify;
    }

    .nav{
        display: none;
    }

    .projects{
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
    }
    
    .card{
       width: 70%;
    }
}